@import "tailwindcss";

@source "../index.html";
@source "./**/*.{js,jsx}";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
